In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
# Series

In [ ]:
labels = ['a', 'b', 'c']

In [ ]:
numpy_data = np.array([10, 20, 30])

In [ ]:
dic = {'a':10, 'b':20, 'c':30}

In [ ]:
pd.Series(labels)

In [ ]:
pd.Series(numpy_data)

In [ ]:
pd.Series(dic)

In [ ]:
pd.Series(numpy_data, labels)

In [ ]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany', 'USSR', 'Japan'])

In [ ]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Pakistan', 'Italy'])

In [ ]:
ser1

In [ ]:
ser2

In [ ]:
ser1 + ser2

In [ ]:
# Data Frames

In [ ]:
# data frames is combination of series

In [ ]:
from numpy.random import randn

In [ ]:
# seed generates same random numbers on any system we call it.

np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['w', 'x', 'y', 'z'])

In [ ]:
df

In [ ]:
df['w']

In [ ]:
type(df['w'])

In [ ]:
type(df)

In [ ]:
df[['w', 'y']]

In [ ]:
type(df[['w', 'y']])

In [ ]:
df['new'] = df['w'] + df['x']

In [ ]:
df

In [ ]:
df.drop('new', axis =1)
# axis = 1 is for column drop
# axis = 0 is for row drop

In [ ]:
df.drop('B')

In [ ]:
df

In [ ]:
df.drop('new', axis=1, inplace = True)
# inplace is used so that it drops the row/column permanently
# and if inplace is false it will remove for the temporary time and if we again call the data frame it will show us the real-one

In [ ]:
df

In [ ]:
df.loc['A']

In [ ]:
df.iloc[2]

In [ ]:
df.loc['C', 'y']

In [ ]:
df.loc[['A','B'], ['w','y']]

In [ ]:
df

In [ ]:
df > 0

In [ ]:
df[df > 0]

In [ ]:
df['w'] > 0

In [ ]:
df [df['w'] > 0]

In [ ]:
df[df['z'] < 0]

In [ ]:
df

In [ ]:
booldf = df['w'] > 0

In [ ]:
booldf

In [ ]:
result = df[booldf]

In [ ]:
result

In [ ]:
my_cols = ['y', 'x']

In [ ]:
result[my_cols]

In [ ]:
df[ df['w'] > 0][['y', 'x']]

# Missing Values

In [ ]:
d = {'A': [1,2,np.nan], 'B': [5,np.nan,np.nan], 'C':[1,2,3]}

In [ ]:
d

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2)
# 2 or more than 2 NaN rows should be retained(continue to having something) and delete the rest

In [ ]:
df

In [ ]:
df.fillna(value = 'Fill')

In [ ]:
df

In [ ]:
df['A'].fillna(value = df['A'].mean())

# Concatenation & Merging

In [ ]:
df1 = pd.DataFrame({ 'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0,1,2,3]
                   )

In [ ]:
df2 = pd.DataFrame({ 'A': ['A4', 'A5', 'A6', 'A7'],
                   'B': ['B4', 'B5', 'B6', 'B7'],
                   'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4,5,6,7]
                   )

In [ ]:
df3 = pd.DataFrame({ 'A': ['A8', 'A9', 'A10', 'A11'],
                   'B': ['B8', 'B9', 'B10', 'B11'],
                   'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8,9,10,11]
                   )

In [ ]:
left = pd.DataFrame({ 'key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3']}
                   )
                     
right = pd.DataFrame({ 'key': ['K0', 'K1', 'K2', 'K3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']}
                    )

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# concatenation along rows
pd.concat([df1,df2,df3])

In [ ]:
# concatenation along columns
pd.concat([df1,df2,df3], axis=1)

In [ ]:
# merging

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, how='inner', on ='key')